:root {
    --orange: #ff7d1b;
    --black: #1c1c24;
    --grey: #706f74;
    --light-grey: #f7f8fd;
    --light-orange: #fdebde;
}
* {
    box-sizing: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: antiquewhite; */
    font-family: 'Kumbh Sans', sans-serif;
    /* height: 100%;
    position: relative; */
}

/* SHARED GLBOAL CLASSES */

.hidden {
    display: none !important;
}

.grey {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    animation: 0.3s ease-in-out;
}

/* HEADER */

header {
    height: 8%;
    max-height: 60px;
}

nav {
    /* position: relative; */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 18;
    width: 100%;
    height: 100%;
    max-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    gap: 20px;
}

.menu-btn:hover {
    cursor: pointer;
}

.logo-img {
    flex-grow: 2;
}

.avatar-img {
    width: 20px;
}

.cart-btn {
    position: relative;
}

.cart-container {
    position: relative;
}

.cart-quantity-container {
    position: absolute;
    top: -5;
    right: -5;
    width: 15px;
    height: 12px;
    background-color: var(--orange);
    border-radius: 50px;
    color: white;
    font-size: .6rem;
    text-align: center;
}


/* MAIN */

main {
    /* height: 92%; */
}

.main-img-container {
    position: relative;
    
}

.main-img{
    width: 100%;
    animation: 0.6s fade-img;
}

@keyframes fade-img{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.prev-btn {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 10;
    width: 35px !important;
    height: 35px;
    padding: 11px;
    background-color: white;
    border-radius: 50px;

}
.next-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 10;
    width: 35px !important;
    height: 35px;
    padding: 11px;
    background-color: white;
    border-radius: 50px;
}

.next-btn:hover, .prev-btn:hover {
    cursor: pointer;
    opacity: .8;
}

/* PRODUCT DETAILS SECTION */

.details-container {
    padding: 25px;
}

.company-name {
    font-size: .8rem;
    font-weight: 700;
    color: var(--orange);
    margin-bottom: 10px;
}

.product-name {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
}

.product-desc {
    font-size: .9rem;
    color: var(--grey);
    line-height: 22px;
    margin-bottom: 20px;
}

.price-container {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.discount-container {
    flex-grow: 2;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.discount {
    font-size: .85rem;
    color: var(--orange);
    background-color: var(--light-orange);
    width: 40px;
    text-align: center;
    border-radius: 5px;
}

.original-price {
    color: var(--grey);
    opacity: .6;
    text-decoration: line-through;
    font-size: 1rem;
}

.order-container, .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-container {
    height: 50px;
    background-color: var(--light-grey);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.order-container img {
    width: 10px;
    height: 10px;
}

.minus-btn {
    height: 5px !important;
}

.quantity-order {
    font-weight: 700;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--orange);
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button img {
    width: 17px;
    filter: brightness(0) invert(1);
}

/* MENU FOR MOBILE VIEW */


.menu {
    position: fixed;
    top: 0;
    left: -1000;
    width: 250px;
    height: 1000px;
    background-color: white;
    z-index: 30;
    transition: 0.5s ease;
}


.close-btn, .modal-close-btn {
    margin: 20px;
    margin-bottom: 50px;
}

.menu-container {
    margin-left: 20px;
    font-weight: 700;
    font-size: 1rem;
}

.menu-container ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

/* CART */

.cart {
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 19;
    width: 95%;
    max-width: 450px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    animation: 0.3s fade-img ;
}

.cart-title {
    margin: 20px 0 10px 30px;
    font-weight: 700;
    height: 10%;
    
}

hr {
    opacity: .6;
}

.cart-content-container {
    /* margin-bottom: 30px; */
    padding: 25px;
}

.cart-content-empty-container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-content-empty {
    font-weight: 700;
    color: black;
    opacity: .6;
 
    text-align: center;
}

.cart-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 20px;
    gap: 10px;
}

.content-img-thumb {
    width: 50;
    height: 100%;
    border-radius: 5px;
}

.cart-item, .cart-item-price {
    color: var(--grey);
}

.delete-btn {
    width: 15px;
    height: 20px;
}

.cart-total-price {
    color: black;
    font-weight: 700;
}

.cart-btn:hover, .minus-btn:hover, .plus-btn:hover, button:hover, ul li:hover, .close-btn, .modal-close-btn {
    cursor: pointer;

}


/* DESKTOP */

#desktop-menu ul {
    display: none;
}

.desktop-view {
    display: none;
}

.cont2 {
    display: flex;
}



@media (min-width: 760px) {

    /* body {
        height: 100%;
    } */

    /* SHARED UTILITIES */

    .border {
        border: var(--orange) 3px solid;
    }

    .opacity {
        opacity: .8 !important;
    }
    
    .filter {
        opacity: .3;
    }
    

    /* END */

    .mobile-view {
        display: none;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        max-height: unset;
        height: 15%;
    }

    nav {
        width: 88%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navbar {
        position: unset;
        justify-content: unset;
        width: 100%;
        max-height: unset;
        height: 100%;
        border-bottom: rgba(0, 0, 0, .1) 2px solid;
        padding: 0;
    }

    #mobile-menu {
        display: none;
    }

    #desktop-menu {
        justify-self: start;
        flex-grow: 1;
    }

    #desktop-menu ul {
        list-style: none;
        display: flex;
        gap: 20px;
        color: var(--grey);
        flex-grow: -1;

    }

    .logo-img {
        flex-grow: 0;
        /* width: ; */
    }

    .avatar-img {
        width: 30px;
        height: 30px;
    }
    
    .cart {
        max-width: 350px;
        right: 90px;
    }

    /* MAIN */

    main {
        height: 85%;
        width: 75%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;

    }

    .main-img-container, .details-container {
        width: 45%;
    }

    .main-img-container {
        display: flex;
        justify-content: center;
        max-height: 600px;
    }

    .details-container {
        padding: 0;
    }

    .desktop-view {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        /* align-items: center; */
        gap: 20px;
        max-width: 430px;      
        min-width: 310px;  
    }
    
    .main-img:hover {
        cursor: pointer;
    }

    .main-img, .thumbnail {
        border-radius: 10px;
    }

    .thumbnail:hover {
        opacity: .6;
        cursor: pointer;
    }

    .thumbnail-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    .thumbnail {
        width: 100%;     
    }

    /* DETAILS */

    .price-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .cont2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    .company-name {
        font-size: .9rem;
    }

    .product-name {
        font-size: 2.5rem;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .product-desc {
        font-size: 1rem;
        line-height: 30px;
    }

    .total-price {
        font-size: 2rem;
    }

    .discount-container {
        height: 100%;
    }

    .discount {
        font-size: 1rem;
        padding: 4px 10px;
        display: flex;
        justify-content: center;
    }

    .cont3 {
        display: flex;
        gap: 10px;
    }

    .order-container {
        width: 200px;
    }

    .add-to-cart-btn {
        flex: span 2;
    }

    /* DESKTOP MODAL */

    .desktop-modal {
        /* position: absolute;
        top: 0;
        left: 0;
        z-index: 21;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; */
    }

    .modal-container {
        width: 30%;
        min-width: 490px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 60;
        margin-top: 20px;
    }

    .modal-main-img {
        position: relative;
    }

    #modal-main-img {
        /* position: relative; */
        width: 100%;
        border-radius: 10px;
    }

    .next-btn {
        right: -1.5em;
        width: 3em !important;
        height: 3em !important;
        padding: 1em;
    }
    
    .prev-btn {
        left: -25px;
        width: 50px !important;
        height: 50px !important;
        padding: 16px;
    }

    .modal-close-btn {
        filter:brightness(0) invert(1);
        position: absolute;
        top: -35px;
        right: 0;
        margin: 0;
    }

    .modal-thumbnail-container {
        padding: 30px;
    }

    .thumb-border1, 
    .thumb-border2, 
    .thumb-border3, 
    .thumb-border4 {
        background-color: white;
        border-radius: 12px;
    }

}










